

.product {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 30px;
}

.product .titulo-produto {
    grid-area: 1 / 1 / span 1 / span 2 !important;
}


.product-gallery {
    display:grid;
    grid-template-columns: 100px 1fr;
    gap: 20px;
}

.product-gallery-list img {
    margin-bottom: 20px;
    cursor: pointer;
}

.product-detail small{
    display: block;
    color: rgba(0,0,0, 0.5);
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-detail h1 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 10px;

}

.product-detail h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.product-detail .atencao {
    padding-top: 40px;
}

.product-detail ul {
    padding: 20px 0px;
}

.product-detail .preco-texto {
    padding-top: 10px;
}

.product-detail .acompanha > p:first-of-type {
    padding-top: 15px
}

.product-detail .acompanha > p:last-of-type {
    padding-bottom: 15px;
}


.product-detail .product-price {
    font-weight: bold;
    font-size: 50px;
}

.product-detail > .product-price:has(+form){
    display: none !important;
}


tbody th.label {
    display: none;
}

#grelhas {
    padding: 10px 15px !important;
}

.product-detail .button {
    background-color: black;
    color: white;
    padding: 12px 15px;
    min-width: 200px;
    max-width: 300px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-detail .button::after{
    content: '';
    display: block;
    background: url('../img/icons/add.svg') no-repeat center center;
    width: 16px;
    height: 16px;
    transition: .3s;
}

.product-detail .button:hover::after{
    transform: rotate(180deg);
}

.product-detail .button.disabled{
    opacity: .5;
    cursor: initial;
}


.product-detail .variations tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

.product-detail select {
    font-size: 1rem;
}

.product-detail .reset_variations {
    display: none !important;
}

.product-detail .quantity { 
    display: none !important;
}

.woocommerce-variation-availability p {
    font-weight: 500 !important;
}

.woocommerce-variation-price {
    font-size: 50px !important;
}

.product-detail form {
    display: flex !important;
    flex-direction: column-reverse !important;
}
 
.notification {
    margin: 20px auto;
    background-color: white;
}


@media (max-width: 800px){
    .product{
        grid-template-columns: 1fr;
    }
    .product-gallery {
        grid-template-columns: 1fr;
        /* grid-row: 2; */
       order: 1;
      
    }

    .product .titulo-produto {
        grid-area: 1 / 1 !important;
    }

    .product-detail {
        order: 2;
    }

    .product-gallery-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        order: 2;
    }

    .product-gallery-list img {
        max-width: 100px;
        margin: 0 10px;
    }

    .product-detail h1 {
        margin-bottom: 20px;
    }
}
